@model WebWallet.ViewModels.StatusCodeVM

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!doctype html>
<html class="no-js" lang="bg">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@Model.Code @Model.Message</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/default-css.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>

<body>
    <div class="error-area ptb--100 text-center">
        <div class="container">
            <div class="row">

                <div class="error-content">
                    <h2 class="col-md-12">@Model.Code</h2>
                    <p class="col-md-12">@Model.Message</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="col-md-6" asp-controller="Dashboard" asp-action="Index" asp-area="Authenticated">Към Основната Страница</a>
                    }
                    else
                    {
                        <a class="col-md-6" asp-controller="Home" asp-action="Index" asp-area="">Към Началната Страница</a>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>