@{
    Layout = "_Layout";
    ViewData["title"] = "Репорт Инвестиции";
}

<div class="single-table d-none d-md-block">
    <div class="table-responsive" id="stocksTable">
        
    </div>
</div>


@section Scripts{
    <partial name="_InvestmentsCharts" />
}