@model TransactionVM
@{
    Layout = "_Layout";
    ViewData["title"] = "Добави Транзакция";
    var categories = (List<SelectListItem>)ViewData["TransactionCategories"];
    var accounts = (List<SelectListItem>)ViewData["UserAccounts"];
}

<div class="row">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Amount"></label>
                        <input class="form-control" asp-for="Amount">
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Account"></label>
                        <select class="form-control" asp-for="Account"
                                asp-items=accounts></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TransactionType"></label>
                        <select class="form-control" asp-for="TransactionType"
                                asp-items="@Html.GetEnumSelectList<TransactionType>()"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category"></label>
                        <select class="form-control" asp-for="Category"
                                asp-items="categories"></select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input class="form-control" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Добави</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <a asp-action="All" class="btn btn-secondary mt-4 pr-4 pl-4">Отказ</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{ <partial name="_ValidationScriptsPartial" />}