@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/images/logo.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Портфейл</title>
    <partial name="_LayoutStylesPartial" />
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <div class="main-wrapper-first relative">
        <header>
            <div class="container">
                <div class="header-wrap">
                    <div class="header-top d-flex justify-content-between align-items-center">
                        <div class="logo">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="banner-area">
            <div class="container">
                <div class="row justify-content-center height align-items-center">
                    <div class="col-lg-8">
                        <div class="banner-content text-center">
                            <h1 class="text-uppercase">Започни да управлявш финансите си</h1>
                            <a asp-area="Identity" asp-controller="User" asp-action="Register"
                               class="primary-btn d-inline-flex align-items-center">
                                <span>Регистрирай се</span>
                            </a>
                            <a asp-area="Identity" asp-controller="User" asp-action="Login"
                               class="primary-btn d-inline-flex align-items-center">
                                <span>Вход за регистрирани</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start footer Area -->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-content d-flex flex-column align-items-center">
                    <div class="footer-menu">
                        <a asp-controller="Home" asp-action="Index">Начало</a>
                        <a asp-area="Identity" asp-controller="User" asp-action="Login">Вход</a>
                        <a asp-area="Identity" asp-controller="User" asp-action="Register">Регистарция</a>
                    </div>
                    <div class="footer-social">
                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                        <a href="javascript:void(0);"><i class="fa fa-dribbble"></i></a>
                        <a href="javascript:void(0);"><i class="fa fa-behance"></i></a>
                    </div>
                    <div class="copy-right-text">Copyright &copy; 2018 All rights reserved   |   This template is made with <i class="fa fa-heart"></i> by <a href="https://colorlib.com">Colorlib</a></div>
                </div>
            </div>
        </footer>
        <!-- End footer Area -->
    </div>

    <partial name="_LayoutScriptsPartial" />
</body>
</html>