<!doctype html>
<html class="no-js" lang="bg">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Начало</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <partial name="_LayoutStylesPartial" />
</head>

<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <div class="page-container">
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <p class="company-logo">Портфейл</p>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="">
                                <a asp-controller="Dashboard" asp-action="Index" aria-expanded="true"><i class="fa fa-road"></i><span>Начало</span></a>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" aria-expanded="false">
                                    <i class="fa fa-money"></i><span>Средства</span>
                                </a>
                                <ul class="collapse in" style="">
                                    <li class=""><a asp-controller="Account" asp-action="Create" asp-area="Authenticated"><span>Добави</span></a></li>
                                    <li><a asp-controller="Account" asp-action="All" asp-area="Authenticated"><span>Моите Средства</span></a></li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" aria-expanded="false">
                                    <i class="ti-shield"></i><span>Бюджети</span>
                                </a>
                                <ul class="collapse in" style="">
                                    <li class=""><a asp-controller="Budget" asp-action="Create" asp-area="Authenticated"><span>Добави</span></a></li>
                                    <li><a asp-controller="Budget" asp-action="All" asp-area="Authenticated"><span>Моите Бюджети</span></a></li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" aria-expanded="false">
                                    <i class="ti-receipt"></i><span>Транзакции</span>
                                </a>
                                <ul class="collapse in" style="">
                                    <li class=""><a asp-controller="Transaction" asp-action="Create" asp-area="Authenticated"><span>Добави</span></a></li>
                                    <li><a asp-controller="Transaction" asp-action="All" asp-area="Authenticated"><span>Всички Транзакции</span></a></li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" aria-expanded="false">
                                    <i class="ti-pencil-alt"></i><span>Финансови цели</span>
                                </a>
                                <ul class="collapse in" style="">
                                    <li class=""><a asp-controller="Goal" asp-action="Create" asp-area="Authenticated"><span>Добави</span></a></li>
                                    <li><a asp-controller="Goal" asp-action="All" asp-area="Authenticated"><span>Виж Всички</span></a></li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" aria-expanded="false">
                                    <i class="ti-stats-up"></i><span>Инвестиции</span>
                                </a>
                                <ul class="collapse in" style="">
                                    <li class=""><a asp-controller="Investment" asp-action="Create" asp-area="Authenticated"><span>Добави</span></a></li>
                                    <li><a asp-controller="Investment" asp-action="All" asp-area="Authenticated"><span>Моите Инвестиции</span></a></li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" aria-expanded="false">
                                    <i class="ti-check-box"></i><span>Заеми и Сметки</span>
                                </a>
                                <ul class="collapse in" style="">
                                    <li class=""><a asp-controller="RecurringPayment" asp-action="Create" asp-area="Authenticated"><span>Добави</span></a></li>
                                    <li><a asp-controller="RecurringPayment" asp-action="All" asp-area="Authenticated"><span>Виж Всички</span></a></li>
                                </ul>
                            </li>
                            <li class="">
                                <a asp-controller="User" asp-action="Logout" asp-area="Identity" aria-expanded="false"><i class="ti-shift-left"></i><span>Изход</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="header-area">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-3 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-inline"><span class="greeting text-muted text-center"> @User.Identity.Name</span></div>
                    <div class="col-md-3 d-none d-md-inline clearfix">
                        <ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="main-content-inner">
                <partial name="_AlertMessagePartial" />
                @RenderBody()
            </div>
        </div>
        <footer>
            <div class="footer-area">
                <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
            </div>
        </footer>
    </div>
    <partial name="_LayoutScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>