@{
    Layout = "_Layout";
    ViewData["title"] = "Забравена Парола";
}

<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            <form asp-action="ForgotPassword" method="post">
                <div class="login-form-head">
                    <h4>Забравена Парола</h4>
                    <p>Ако не можеш да си спомниш паролата въведи имейла си и ще ти пратим временна парола.</p>
                </div>
                <div class="login-form-body">
                    <div class="form-gp">
                        <label for="exampleInputEmail1">Имейл</label>
                        <input type="email" id="exampleInputEmail1" required>
                        <i class="ti-lock"></i>
                    </div>
                    <div class="submit-btn-area mt-5">
                        <button id="form_submit" type="submit">Потвърди <i class="ti-arrow-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>