@{
    Layout = "_Layout";
    ViewData["title"] = "Вход";
}
@model LoginVM;

<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            <form asp-controller="User" asp-action="Login" asp-area="Identity" method="post">
                <div class="login-form-head">
                    <h4>Вход за регистрирани потребители</h4>
                    <p>Здравей, Влез и започни да управляваш финансите се</p>
                </div>
                <div class="login-form-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-gp">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName">
                        <i class="ti-email"></i>

                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-gp">
                        <label asp-for="Password"></label>
                        <input asp-for="Password">
                        <i class="ti-lock"></i>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="row mb-4 rmber-area">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
                                <label class="custom-control-label" asp-for="RememberMe"></label>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <a asp-action="ForgotPassword">Забравена Парола?</a>
                        </div>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit">Вход <i class="ti-arrow-right"></i></button>
                    </div>
                    <div class="form-footer text-center mt-5">
                        <hr />
                        <p class="text-muted">Нямаш Регистрация? <a asp-action="Register">Регистрирай се</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>