@{
    Layout = "_Layout";
    ViewData["title"] = "Моля потвърдете имейла си";
}

<div class="login-area">
    <div class="container">
        @*<div class="login-box ptb--100">
                <div class="login-form-head">
                    <h4>Моля потвърдете имейла си</h4>
                    <p>Изпратихме имейл на @ViewData["userEmail"]</p>
                    <p>Следвайте инструкциите в имейла за да завършите регистрацията.</p>
                </div>
            </div>*@

        <div class="col-lg-4 col-md-6 mt-5">
            <div class="card card-bordered">

                <div class="card-body">
                    <h4><b>Моля потвърдете имейла си</b></h4>
                    <div class="card-text">
                        <p>Изпратихме имейл на @ViewData["userEmail"]</p>
                        <p>Следвайте инструкциите в имейла за да завършите регистрацията.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>