@{
    Layout = "_Layout";
    ViewData["title"] = "Нова парола";
}

@model ResetPasswordVM;

<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">
            <form asp-action="ResetPassword" method="post">
                <div class="login-form-head">
                    <h4>Смени паролата си</h4>
                    <p>Въведи нова парола</p>
                </div>
                <div class="login-form-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-gp">
                        <label asp-for="OldPassword"></label>
                        <input asp-for="OldPassword">
                        <i class="ti-lock"></i>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-gp">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword">
                        <i class="ti-lock"></i>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="submit-btn-area mt-5">
                        <button id="form_submit" type="submit">Потвърди<i class="ti-arrow-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>